<footer class="bg-dark text-light pt-5 pb-3 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5 class="text-white mb-3">Cam's Shop</h5>
                <p class="small text-white-50">Chuyên cung cấp mỹ phẩm chính hãng từ các thương hiệu hàng đầu thế giới.</p>
            </div>
            <div class="col-md-4">
                <h5 class="text-white mb-3">Hỗ trợ khách hàng</h5>
                <ul class="list-unstyled small text-white-50">
                    <li><a href="#" class="text-white-50 text-decoration-none">Hướng dẫn mua hàng</a></li>
                    <li><a href="#" class="text-white-50 text-decoration-none">Chính sách đổi trả</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="text-white mb-3">Kết nối</h5>
                <div class="d-flex gap-3">
                    <i class="fab fa-facebook fa-2x"></i>
                    <i class="fab fa-instagram fa-2x"></i>
                </div>
            </div>
        </div>
        <hr class="border-secondary mt-4">
        <div class="text-center small text-white-50">
            &copy; 2025 Cam's Shop - Designed for Cosmetics.
        </div>
    </div>
</footer>